@import url('https://api.fontshare.com/css?f%5B%5D=switzer@400,500,600,700');
@import 'tailwindcss';

@theme {
	--font-switzer: 'Switzer', sans-serif;
	--font-body: var(--font-switzer);
	--font-heading: var(--font-switzer);
}

@layer base {
	body {
		font-family: var(--font-body);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-heading);
	}
}
